.custom-card-img {
    width: 410px;
    height: 500px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: scale(1.05);
}

