<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard Devoluciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/dashboard}">Dashboard Biblioteca</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" th:href="@{/dashboard}">Vista General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard/libros}">Libros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard/ejemplares}">Ejemplares</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard/usuarios}">Usuarios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dashboard/reservas}">Reservas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" th:href="@{/dashboard/pendientes}">Devoluciones Pendientes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row mt-4">
            <h2>Lista de Devoluciones Pendientes</h2>
            <!-- Formulario de Búsqueda -->
            <form th:action="@{/}" method="GET" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="nombreLibro"
                        placeholder="Ingrese el nombre del libro">
                    <button class="btn btn-outline-secondary" type="submit">Buscar</button>
                </div>
            </form>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Título</th>
                            <th class="text-center">Autor</th>
                            <th class="text-center">ISBN</th>
                            <th class="text-center">Editorial</th>
                            <th class="text-center">Género</th>
                            <th class="text-center">Año de Publicación</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">Título del libro</td>
                            <td class="text-center">Juan Pérez</td>
                            <td class="text-center">978-84-7245-643-3</td>
                            <td class="text-center">Editorial</td>
                            <td class="text-center">Género</td>
                            <td class="text-center">Año</td>
                            <td class="d-flex justify-content-evenly">
                                <a class="btn btn-primary btn-sm">Editar</a>
                                <a class="btn btn-danger btn-sm"
                                    onclick="return confirm('¿Está seguro de que desea eliminar este libro?');">Eliminar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>